@page "{id:int}"
@model Youtube_CreateX.Areas.Admin.Pages.News.DeleteModel
@{
    ViewData["Title"] = "Удаление новости";
}
<h1>Подтверждение удаления</h1>
<div>
    <h3>Вы уверены, что хотите удалить эту новость?</h3>
    <dl class="row">
        <dt class="col-sm-2">Заголовок</dt>
        <dd class="col-sm-10">@Model.News.Title</dd>
        <dt class="col-sm-2">Дата</dt>
        <dd class="col-sm-10">@Model.News.CreatedAt</dd>
    </dl>
    <form method="post">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-page="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>