@page "{id:int}"
@model Youtube_CreateX.Areas.Admin.Pages.Services.DeleteModel
@{
    ViewData["Title"] = "Удаление услуги";
}
<h1>Подтверждение удаления</h1>
<div>
    <h3>Вы уверены, что хотите удалить эту услугу?</h3>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.Service.Title</dd>
        <dt class="col-sm-2">Порядок</dt>
        <dd class="col-sm-10">@Model.Service.DisplayOrder</dd>
    </dl>
    <form method="post">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-page="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>