@page "{id:int}"
@model Youtube_CreateX.Areas.Admin.Pages.Projects.DeleteModel
@{
    ViewData["Title"] = "Удаление проекта";
}
<h1>Подтверждение удаления</h1>
<div>
    <h3>Вы уверены, что хотите удалить этот проект?</h3>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.Project.Title</dd>
        <dt class="col-sm-2">Категория</dt>
        <dd class="col-sm-10">@Model.Project.Category</dd>
    </dl>
    <form method="post">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-page="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>